<footer>
   <div id="footer-content">
       <p>
           © Coding Ninjas. All Rights Reserved
       </p>
       <div id="options">
           <ul>
               <li> <a href="/">Home</a></li>
               <li><a href="/users/profile">Profile</a></li>
           </ul>
       </div>
   </div>
</footer>