<!-- <html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body> 
        <%- include("_header") -%>  -->
        <!-- implimenting partial concept -->
       
        <h1>User's profile</h1>

        <!-- <%- include("_footer") -%> -->
       <!-- implimenting partial concept -->
     
    <!-- </body>
</html> -->